/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins');

/*********variables************/

@import 'styles/variables.scss';
html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}